* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color : #fff;
  --text-color: #000;
  --hero-bg:url('../images/hero-image.jpg');
  --nav-color:#a8a8a8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color : #000;
    --text-color: #fff;
    --nav-color:#fff;
    --hero-bg:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/hero-image.jpg');
  }
}

body {
  background: var(--primary-color);
  color: var(--text-color);
}

nav span{
  color: var(--nav-color) !important;
}
.navbar-nav a{
  color: var(--nav-color) !important;
  padding: 0px 1.5rem !important;
}
.hero-section {
  height: 100vh;
  width: 100%;
  background:var(--hero-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130% 130%;

}
.hero-caption {
  transform: translateY(40vh) !important;
}
.hero-caption h1{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 7rem !important;
  /* text-shadow:2px 2px 15px #D3D3D3; */
  font-weight: 600;
  /* text-shadow: 1px 1px 5px ; */
  color: #CCCCCC
  /* position: relative; */

}
.title{
  font-size: 8rem;
  font-weight: bolder;
    padding-top: 20px;
}
.about-text{
  padding: 10px;
  text-align: justify;
}
#home,#about,#portfolio,#contact{
  height: 100vh;
}
.abt{
  padding-top: 1.2rem;
}
#about-image{
  border-radius: 15px;
  width: 52%;
  display: block;
  margin-top: -8rem;
  margin-left: auto;
  margin-right: auto;
}
#about-image:hover{
  transform: scale(1.5);
}
.img-cnt{
  position: absolute;
  top: 0;
  left: 0;
  
}
.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
    background-size: cover;

}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}
hr {
  border: .1px solid rgb(214, 230, 242,0.5);
  width: 75%;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;

}
